@mixin btnss ($width:140px){
    border-radius: 0;
    font-size: 12px;
    transition: 0.6s;
    width: $width;
    height: 45px;
    text-transform: uppercase;
}

@mixin cards ($color: white, $title-color: white, $title-font-size: 16px, $p-font-size: 14px){
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    i {
        color: $color;
        font-size: $base*13;
    }
    p{
        color: $color;
        font-size: $p-font-size;
    }

    h3{
        color: $title-color;
        font-size: $title-font-size;
    }
}
