$base: 4px;

// Colors
$black: #000000;
$white: #ffffff;
$light: #C9C9C9;
$dark: #333333;
$gray: #555555;
$background-light: #00000014;
$silver: #888888;

// Font-Size 
$font-size-text_title: 30px;
$font-size-text_2: 16px;
$font-size-text: 14px;
$font-size-nav: 10px;